@(title: String = "Welcome!")

@import play.api.Play.current

@main(title) {

    <h2>Welcome to RuFan</h2>

    @if(session.get("username")) {
        @if(session.get("manager")) {
            <div class="jumbotron">
                <h1>RuFan - Daily Fantasy Sport</h1>
                <p>Here you manage @{
                    session.get("displayName")
                }!</p>
                <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span> Tournaments</a>
                <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-file"></span> Game import</a>
                <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-file"></span> Team import</a>
                <a href="@routes.ManagerController.processplayers()" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-file"></span> Player import</a>
                <a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-file"></span> Fantasy Points imports</a>
            </div>
        } else {
            <div class="jumbotron">
                <h1>RuFan - Daily Fantasy Sport</h1>
                <p>Good to see you again @{
                    session.get("displayName")
                }!</p>
                <a href="@routes.TournamentController.blank()" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-search"></span>Active Tournaments</a>

                <h2>Active Tournaments</h2>

                <table class="table" id="activeTournaments">
                    <thead>
                        <tr>
                            <th hidden>Tournament Id</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>League</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        }
    } else {
        <image class="img-responsive" src="@routes.Assets.versioned("/images/RuFan-FrontPageLogo.png")"/>
    }

    <script>
    ( function($) {

      $(document).ready(

        function () {

          var url = "@routes.TournamentController.getActiveTournaments()";
          $.getJSON(url,function(data){

            $.each(data,function(i,t){
              $("#activeTournaments > tbody:last-child")
              .append("<tr><td hidden>"+
              t.id+"</td><td><a href='#'>"+
              t.name+"</td><td>"+
              t.status+"</td><td>"+
              t.startDate+"</td><td>"+
              t.endDate+"</td><td>"+
              t.leagueName+"</td></tr>")
            })
          })
        }

       )} ) ( jQuery );

    </script>
}