@main(title = "MyProfile", nav = "details") {
  <script>
    ( function($) {

      $(document).ready(

        function () {

          var url = "@routes.TournamentController.getActiveTournaments()";
          $.getJSON(url,function(data){

            $.each(data,function(i,t){
              $("#activeTournaments > tbody:last-child")
              .append("<tr><td hidden>"+t.id+"</td><td><a href='#'>"+t.name+"</td><td>"+t.status+"</td><td>"+t.startDate+"</td></tr>")
            })
          })

        }

       )} ) ( jQuery );

  </script>


  <h2>Active Tournaments</h2>

  <table class="table" id="activeTournaments">
    <thead>
      <tr>
        <th hidden>Tournament Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Start date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

}